.l-not-found{
    margin-top: 200px;
    text-align: center;
    min-height:70vh;
    h2{
        margin-bottom: 30px;
        font-size: 25px;
    }
    p{
        line-height:2em;
    }
    a{
        color: #79A5DC;
        font-weight: bold;
    }
}